/* components/Sidebar.module.css */

.sidebar {
    height: 100vh;
    width: 60px;
    background: linear-gradient(180deg, #2a00d4, #269ed4);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

.main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 5s;
}



.icon {

    margin: 20px 0;
    color: white;
    font-size: 24px;
    /* Adjust icon size */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.iconMiddle {

    margin: 6px 0;
    color: white;
    font-size: 24px;
    /* Adjust icon size */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    padding: 12px;
}

.iconMiddle:hover, .active {
    background-color: #352B5B;
    /* Slight hover effect */
    border-radius: 50%;
    padding: 12px;
}
.icon:hover{
    background-color: #352B5B;
    /* Slight hover effect */
    border-radius: 50%;
    padding: 12px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 50px;
    }

    .icon {
        font-size: 20px;
        /* Adjust icon size for smaller screens */
    }
}